.menu_wrapper {
    padding: 0;
}

.menu {
    border: lightgray 2px ridge;
    border-radius: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.menu li {
    border-right: lightgray 2px solid;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;

    border: lightgray 2px solid;
  }